# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [145]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [146]:
df = pd.read_csv('Datasets/census.data',sep=",", header = None)
df.columns = ['Index', 'education', 'age', 'capital_gain', 'race', 'capital_loss', 'hours_per_week', 'sex', 'classification']
df = df.drop(labels=['Index'], axis=1)
df.head(10)

,education,age,capital_gain,race,capital_loss,hours_per_week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K

In [147]:
print(len(df.capital_gain.unique()))
df.dtypes

119

education         object
age                int64
capital_gain      object
race              object
capital_loss       int64
hours_per_week     int64
sex               object
classification    object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [148]:
df.capital_gain = pd.to_numeric(df.capital_gain, errors = 'coerce')
df.dtypes

education          object
age                 int64
capital_gain      float64
race               object
capital_loss        int64
hours_per_week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [149]:
df['capital_gain'].unique()  #capital_gain has nan values

array([  2174.,     nan,      0.,  14084.,   5178.,   5013.,   2407.,
        14344.,  15024.,   7688.,  34095.,   4064.,   4386.,   7298.,
         1409.,   3674.,   1055.,   3464.,   2050.,   2176.,    594.,
         6849.,   4101.,   1111.,   3411.,   2597.,  25236.,   4650.,
         9386.,   2463.,   3103.,  10605.,   2964.,   3325.,   2580.,
         3471.,   4865.,   6514.,   1471.,   2329.,  99999.,  20051.,
         2105.,   2885.,  25124.,  10520.,   2202.,   2961.,  27828.,
         6767.,   8614.,   2228.,   1506.,  13550.,   2635.,   5556.,
         4787.,   3781.,   3137.,   3818.,   3942.,    914.,    401.,
         2829.,   2977.,   4934.,   2062.,  15020.,   1424.,   3273.,
        22040.,   4416.,  10566.,    991.,   4931.,   1086.,   7430.,
         6497.,    114.,   7896.,   2346.,   3432.,   2907.,   1151.,
         2414.,   2290.,   3418.,  15831.,  41310.,   4508.,   5455.,
         2538.,   3456.,   3908.,   1848.,   3887.,   5721.,   9562.,
         6418.,   1455.,   2036.,   1831.,  11678.,   2936.,   2993.,
         7443.,   6360.,   2354.,   1797.,   1173.,   4687.,   2009.,
         6097.,   2653.,  18481.,   7978.,   2387.,   6723.,   5060.])

In [150]:
#fill nan values
df.capital_gain.fillna( df.capital_gain.mean() )
df = df.fillna(0)
df

,education,age,capital_gain,race,capital_loss,hours_per_week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,0.0,White,0,13,Male,<=50K
2,HS-grad,38,0.0,White,0,40,Male,<=50K
3,11th,53,0.0,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K
5,Masters,37,0.0,White,0,40,Female,<=50K
6,9th,49,0.0,Black,0,16,Female,<=50K
7,HS-grad,52,0.0,White,0,45,Male,>50K
8,Masters,31,14084.0,White,0,50,Female,>50K
9,Bachelors,42,5178.0,White,0,40,Male,>50K
10,Some-college,37,0.0,Black,0,80,Male,>50K
11,Bachelors,30,0.0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0.0,White,0,30,Female,<=50K
13,7th-8th,34,0.0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0.0,White,0,35,Male,<=50K
15,HS-grad,32,0.0,White,0,40,Male,<=50K
16,11th,38,0.0,White,0,50,Male,<=50K
17,Masters,43,0.0,White,0,45,Female,>50K
18,Doctorate,40,0.0,White,0,60,Male,>50K
19,HS-grad,54,0.0,Black,0,20,Female,<=50K
20,9th,35,0.0,Black,0,40,Male,<=50K
21,11th,43,0.0,White,2042,40,Male,<=50K
22,HS-grad,59,0.0,White,0,40,Female,<=50K
23,Bachelors,56,0.0,White,0,40,Male,>50K
24,HS-grad,19,0.0,White,0,40,Male,<=50K
25,Some-college,54,0.0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0.0,White,0,80,Male,<=50K
27,HS-grad,49,0.0,White,0,40,Male,<=50K
28,Some-college,20,0.0,Black,0,44,Male,<=50K
29,Bachelors,45,0.0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0.0,White,0,55,Male,<=50K
29507,10th,32,0.0,White,0,40,Male,<=50K
29508,Some-college,22,0.0,White,0,40,Male,<=50K
29509,HS-grad,31,0.0,White,0,40,Female,<=50K
29510,HS-grad,29,0.0,White,0,35,Female,<=50K
29511,Bachelors,35,0.0,White,0,55,Female,>50K
29512,Bachelors,30,0.0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0.0,White,0,60,Male,>50K
29514,Bachelors,54,0.0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0.0,White,0,39,Female,<=50K
29516,12th,22,0.0,Black,0,35,Male,<=50K
29517,Bachelors,34,0.0,White,0,55,Female,>50K
29518,HS-grad,30,0.0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020.0,Black,0,45,Female,>50K
29520,Doctorate,71,0.0,White,0,10,Male,>50K
29521,HS-grad,45,0.0,White,0,40,Female,<=50K
29522,HS-grad,41,0.0,Black,0,32,Female,<=50K
29523,HS-grad,72,0.0,White,0,25,Male,<=50K
29524,Masters,31,0.0,Other,0,30,Female,<=50K
29525,HS-grad,43,0.0,White,0,40,Male,<=50K
29526,Some-college,43,0.0,White,0,40,Female,<=50K
29527,Some-college,43,0.0,White,0,50,Male,<=50K
29528,10th,32,0.0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0.0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0.0,White,0,40,Male,>50K
29531,Some-college,22,0.0,White,0,40,Male,<=50K
29532,HS-grad,40,0.0,White,0,40,Male,>50K
29533,HS-grad,58,0.0,White,0,40,Female,<=50K
29534,HS-grad,22,0.0,White,0,20,Male,<=50K
29535,HS-grad,52,15024.0,White,0,40,Female,>50K

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [151]:
#compare code output to below
print(df['education'].unique())
print(df['classification'].unique())

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
['<=50K' '>50K']

In [152]:
#convert education attribute to ordinal
ordered_education = ['Preschool','1st-4th','5th-6th','7th-8th','9th','10th','11th','12th','HS-grad','Some-college','Bachelors','Masters','Doctorate']
df.education = df.education.astype("category", ordered = True, categories = ordered_education).cat.codes
#convert classification to ordinal 
ordered_classification = ['<=50K', '>50K']
df.classification = df.classification.astype("category", ordered = True, categories = ordered_classification).cat.codes

In [153]:
#compare code output to above
print(df['education'].unique())
print(df['classification'].unique())

[10  8  6 11  4  9  3 12  2  5  1  0  7]
[0 1]

Lastly, print out your dataframe!

In [154]:
print(df)

       education  age  capital_gain                race  capital_loss  \
0             10   39        2174.0               White             0
1             10   50           0.0               White             0
2              8   38           0.0               White             0
3              6   53           0.0               Black             0
4             10   28           0.0               Black             0
5             11   37           0.0               White             0
6              4   49           0.0               Black             0
7              8   52           0.0               White             0
8             11   31       14084.0               White             0
9             10   42        5178.0               White             0
10             9   37           0.0               Black             0
11            10   30           0.0  Asian-Pac-Islander             0
12            10   23           0.0               White             0
13             3   34           0.0  Amer-Indian-Eskimo             0
14             8   25           0.0               White             0
15             8   32           0.0               White             0
16             6   38           0.0               White             0
17            11   43           0.0               White             0
18            12   40           0.0               White             0
19             8   54           0.0               Black             0
20             4   35           0.0               Black             0
21             6   43           0.0               White          2042
22             8   59           0.0               White             0
23            10   56           0.0               White             0
24             8   19           0.0               White             0
25             9   54           0.0  Asian-Pac-Islander             0
26             8   39           0.0               White             0
27             8   49           0.0               White             0
28             9   20           0.0               Black             0
29            10   45           0.0               White          1408
...          ...  ...           ...                 ...           ...
29506          8   30           0.0               White             0
29507          5   32           0.0               White             0
29508          9   22           0.0               White             0
29509          8   31           0.0               White             0
29510          8   29           0.0               White             0
29511         10   35           0.0               White             0
29512         10   30           0.0  Asian-Pac-Islander             0
29513         12   34           0.0               White             0
29514         10   54           0.0  Asian-Pac-Islander             0
29515          9   37           0.0               White             0
29516          7   22           0.0               Black             0
29517         10   34           0.0               White             0
29518          8   30           0.0               Black             0
29519         10   38       15020.0               Black             0
29520         12   71           0.0               White             0
29521          8   45           0.0               White             0
29522          8   41           0.0               Black             0
29523          8   72           0.0               White             0
29524         11   31           0.0               Other             0
29525          8   43           0.0               White             0
29526          9   43           0.0               White             0
29527          9   43           0.0               White             0
29528          5   32           0.0  Amer-Indian-Eskimo             0
29529         11   32           0.0  Asian-Pac-Islander             0
29530         11   53           0.0               White             0
29531          9   22           0.0               White             0
29532          8   40           0.0               White             0
29533          8   58           0.0               White             0
29534          8   22           0.0               White             0
29535          8   52       15024.0               White             0

       hours_per_week     sex  classification
0                  40    Male               0
1                  13    Male               0
2                  40    Male               0
3                  40    Male               0
4                  40  Female               0
5                  40  Female               0
6                  16  Female               0
7                  45    Male               1
8                  50  Female               1
9                  40    Male               1
10                 80    Male               1
11                 40    Male               1
12                 30  Female               0
13                 45    Male               0
14                 35    Male               0
15                 40    Male               0
16                 50    Male               0
17                 45  Female               1
18                 60    Male               1
19                 20  Female               0
20                 40    Male               0
21                 40    Male               0
22                 40  Female               0
23                 40    Male               1
24                 40    Male               0
25                 60    Male               1
26                 80    Male               0
27                 40    Male               0
28                 44    Male               0
29                 40    Male               0
...               ...     ...             ...
29506              55    Male               0
29507              40    Male               0
29508              40    Male               0
29509              40  Female               0
29510              35  Female               0
29511              55  Female               1
29512              99  Female               0
29513              60    Male               1
29514              50    Male               1
29515              39  Female               0
29516              35    Male               0
29517              55  Female               1
29518              46    Male               0
29519              45  Female               1
29520              10    Male               1
29521              40  Female               0
29522              32  Female               0
29523              25    Male               0
29524              30  Female               0
29525              40    Male               0
29526              40  Female               0
29527              50    Male               0
29528              40    Male               0
29529              11    Male               0
29530              40    Male               1
29531              40    Male               0
29532              40    Male               1
29533              40  Female               0
29534              20    Male               0
29535              40  Female               1

[29536 rows x 8 columns]